--
-- PostgreSQL database dump
--

-- Dumped from database version 16.0
-- Dumped by pg_dump version 16.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alarmed_firefighters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alarmed_firefighters (
    alarm_id integer NOT NULL,
    firefighter_id integer NOT NULL,
    accepted boolean
);


ALTER TABLE public.alarmed_firefighters OWNER TO postgres;

--
-- Name: alarms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alarms (
    alarm_id integer NOT NULL,
    alarm_city character varying(255) NOT NULL,
    alarm_street character varying(255) NOT NULL,
    alarm_description character varying(255) NOT NULL,
    date_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.alarms OWNER TO postgres;

--
-- Name: alarms_alarm_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alarms_alarm_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alarms_alarm_id_seq OWNER TO postgres;

--
-- Name: alarms_alarm_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alarms_alarm_id_seq OWNED BY public.alarms.alarm_id;


--
-- Name: fire_departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fire_departments (
    department_id integer NOT NULL,
    department_name character varying(255) NOT NULL,
    department_city character varying(255) NOT NULL,
    department_street character varying(255) NOT NULL,
    department_latitude numeric(10,8) NOT NULL,
    department_longitude numeric(10,8) NOT NULL,
    department_chief_user_id integer NOT NULL
);


ALTER TABLE public.fire_departments OWNER TO postgres;

--
-- Name: fire_departments_department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fire_departments_department_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fire_departments_department_id_seq OWNER TO postgres;

--
-- Name: fire_departments_department_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fire_departments_department_id_seq OWNED BY public.fire_departments.department_id;


--
-- Name: fire_engines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fire_engines (
    vehicle_id integer NOT NULL,
    department_id integer,
    vehicle_brand character varying(255),
    vehicle_model character varying(255),
    vehicle_registration_number character varying(20),
    vehicle_type character varying(50),
    vehicle_seat_capacity integer
);


ALTER TABLE public.fire_engines OWNER TO postgres;

--
-- Name: fire_engines_vehicle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fire_engines_vehicle_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fire_engines_vehicle_id_seq OWNER TO postgres;

--
-- Name: fire_engines_vehicle_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fire_engines_vehicle_id_seq OWNED BY public.fire_engines.vehicle_id;


--
-- Name: firefighters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.firefighters (
    firefighter_id integer NOT NULL,
    department_id integer NOT NULL,
    firefighter_name character varying(255) NOT NULL,
    firefighter_username character varying(255) NOT NULL,
    firefighter_commander boolean NOT NULL,
    firefighter_driver boolean NOT NULL,
    firefighter_technical_rescue boolean NOT NULL
);


ALTER TABLE public.firefighters OWNER TO postgres;

--
-- Name: firefighters_firefighter_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.firefighters_firefighter_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.firefighters_firefighter_id_seq OWNER TO postgres;

--
-- Name: firefighters_firefighter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.firefighters_firefighter_id_seq OWNED BY public.firefighters.firefighter_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) DEFAULT 'USER'::character varying NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: alarms alarm_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alarms ALTER COLUMN alarm_id SET DEFAULT nextval('public.alarms_alarm_id_seq'::regclass);


--
-- Name: fire_departments department_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fire_departments ALTER COLUMN department_id SET DEFAULT nextval('public.fire_departments_department_id_seq'::regclass);


--
-- Name: fire_engines vehicle_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fire_engines ALTER COLUMN vehicle_id SET DEFAULT nextval('public.fire_engines_vehicle_id_seq'::regclass);


--
-- Name: firefighters firefighter_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firefighters ALTER COLUMN firefighter_id SET DEFAULT nextval('public.firefighters_firefighter_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alarmed_firefighters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: alarms; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fire_departments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fire_departments (department_id, department_name, department_city, department_street, department_latitude, department_longitude, department_chief_user_id) FROM stdin;
1	Komenda Powiatowa Pa┼ästwowej Stra┼╝y Po┼╝arnej w Stargardzie	Stargard	Ksi─Öcia Bogus┼éawa IV 21	53.33345505	15.03770277	4
2	Ochotnicza Stra┼╝ Po┼╝arna w Grz─Ödzicach	Grz─Ödzice	Jeziorna 28	53.36963555	14.97373476	10
3	Ochotnicza Stra┼╝ Po┼╝arna w ┼╗arowie	┼╗arowo	D┼éuga 45	53.38497450	14.99095753	16
4	Ochotnicza Stra┼╝ Po┼╝arna w Barzkowicach	Barzkowice	26	53.34043325	15.26664752	22
\.


--
-- Data for Name: fire_engines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fire_engines (vehicle_id, department_id, vehicle_brand, vehicle_model, vehicle_registration_number, vehicle_type, vehicle_seat_capacity) FROM stdin;
\.


--
-- Data for Name: firefighters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: alarms_alarm_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alarms_alarm_id_seq', 30, true);


--
-- Name: fire_departments_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fire_departments_department_id_seq', 5, false);


--
-- Name: fire_engines_vehicle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fire_engines_vehicle_id_seq', 1, false);


--
-- Name: firefighters_firefighter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.firefighters_firefighter_id_seq', 25, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 31, true);


--
-- Name: fire_departments department_name_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fire_departments
    ADD CONSTRAINT department_name_unique UNIQUE (department_name);


--
-- Name: firefighters firefighter_username_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firefighters
    ADD CONSTRAINT firefighter_username_unique UNIQUE (firefighter_username);


--
-- Name: alarmed_firefighters pk_alarmed_firefighters; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alarmed_firefighters
    ADD CONSTRAINT pk_alarmed_firefighters PRIMARY KEY (alarm_id, firefighter_id);


--
-- Name: alarms pk_alarms; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alarms
    ADD CONSTRAINT pk_alarms PRIMARY KEY (alarm_id);


--
-- Name: fire_departments pk_fire_departments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fire_departments
    ADD CONSTRAINT pk_fire_departments PRIMARY KEY (department_id);


--
-- Name: fire_engines pk_fire_engines; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fire_engines
    ADD CONSTRAINT pk_fire_engines PRIMARY KEY (vehicle_id);


--
-- Name: firefighters pk_firefighters; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firefighters
    ADD CONSTRAINT pk_firefighters PRIMARY KEY (firefighter_id);


--
-- Name: users pk_users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_users PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: alarmed_firefighters fk_alarm_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alarmed_firefighters
    ADD CONSTRAINT fk_alarm_id FOREIGN KEY (alarm_id) REFERENCES public.alarms(alarm_id) NOT VALID;


--
-- Name: fire_engines fk_department_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fire_engines
    ADD CONSTRAINT fk_department_id FOREIGN KEY (department_id) REFERENCES public.fire_departments(department_id);


--
-- Name: firefighters fk_department_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firefighters
    ADD CONSTRAINT fk_department_id FOREIGN KEY (department_id) REFERENCES public.fire_departments(department_id);


--
-- Name: firefighters fk_firefighter_username; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firefighters
    ADD CONSTRAINT fk_firefighter_username FOREIGN KEY (firefighter_username) REFERENCES public.users(username) NOT VALID;


--
-- PostgreSQL database dump complete
--

