{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "NONE",
      "classPath" : [ "${webswing.rootDir}/security/*" ],
      "config" : {
        "welcomeMessage" : "Welcome to Webswing Examples distribution. Log-in  as 'admin' with password 'pwd'."
      },
      "securityContextPerTab" : false
    },
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "${webswing.admin.url}",
    "webFolder" : "${webswing.rootDir}/apps/selector",
    "webHomeDir" : "${user.dir}",
    "restrictedResources" : [ ],
    "restUsers" : [ ],
    "webSecurity" : {
      "contentSecurityPolicy" : "connect-src 'self' ws: wss: data: blob:",
      "XContentTypeOptions" : "nosniff",
      "XFrameOptions" : "SAMEORIGIN",
      "XXSSProtection" : "1; mode=block",
      "referrerPolicy" : "strict-origin-when-cross-origin",
      "strictTransportSecurity" : "max-age=63072000; includeSubDomains; preload",
      "cookieSameSite" : "None",
      "forceSecureCookie" : false
    },
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    }
  },
  "/firesignal" : {
    "path" : "/firesignal",
    "name" : "FireSignal",
    "enabled" : true,
    "webHomeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "fileViewers" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      },
      "securityContextPerTab" : false
    },
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "maxClients" : 1,
    "maxClientsPerUser" : -1,
    "allowStealSession" : true,
    "autoLogout" : true,
    "monitorEdtEnabled" : true,
    "loadingAnimationDelay" : 2,
    "recordingAllowed" : true,
    "recordingConsentRequired" : false,
    "mirroringAllowed" : true,
    "mirroringConsentRequired" : false,
    "uploadMaxSize" : 5,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : false,
      "timeoutIfInactive" : false,
      "homeDir" : "${webswing.rootDir}/apps/FireSignal",
      "theme" : "Murrine",
      "directdraw" : true,
      "latencyOptimizedRendering" : true,
      "debug" : false,
      "testMode" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "firesignal.Main"
      },
      "swingSessionTimeout" : 300,
      "idleInstancesCount" : 0,
      "allowStatisticsLogging" : true,
      "allowDelete" : true,
      "allowAutoDownload" : false,
      "threadDumpsFolder" : "${webswing.rootDir}/datastore/dumps",
      "recordingsFolder" : "${webswing.rootDir}/datastore/recordings",
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "NONE",
      "multiScreenSupportEnabled" : false,
      "fontEmbeddingEnabled" : false,
      "fontConfig" : { },
      "classPathEntries" : [ "*.jar" ],
      "jsLinkWhitelist" : [ "*" ],
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileOpen" : true,
      "inactivityAction" : "SHUTDOWN",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transferDir" : "${user}/upload"
    }
  }
}